<h1>Thêm bài viết</h1>
<form action="/blogs/add" method="POST">
    <div class="mb-3">
        <label>Tiêu đề</label>
        <input type="text" name="title" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Nội dung</label>
        <textarea name="content" class="form-control" required></textarea>
    </div>
    <button class="btn btn-success">Thêm bài viết</button>
</form>
