<h1>Danh sách bài viết</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Tiêu đề</th>
            <th>Nội dung</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        <% blogs.forEach(blog => { %>
            <tr>
                <td><%= blog.title %></td>
                <td><%= blog.content %></td>
                <td>
                    <a href="/blogs/edit/<%= blog._id %>" class="btn btn-primary btn-sm">Sửa</a>
                    <form action="/blogs/delete/<%= blog._id %>?_method=DELETE" method="POST" style="display:inline;">
                        <button class="btn btn-danger btn-sm">Xóa</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
<a href="/blogs/add" class="btn btn-success">Thêm bài viết</a>
